.capaPrincipal{
  display:grid;
  justify-content: center;
  grid-column: 2 / 2;
}

.capaImagen{
  background-color: coral;
  margin: auto;
  position: relative;
  width: auto;
  height: auto;
  border: 1px solid rgb(233, 193, 193);
  text-align: center;
  border-radius: 5px;
}

.formatoTexto{
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.capaPrecio{
text-align: left;  
}

.capaTitulo{
  text-align: left;
}