.nombreRey{
  font-size: 25px;
  color: coral;
  font-family: Arial, Helvetica, sans-serif;
}

.aficionRey{
  font-size: 25px;
  color: forestgreen;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}