.capaPrincipal{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.capaImagen{
  width: 400px;
  height: auto;
  border: 1px solid rgb(233, 193, 193);
  text-align: center;
  border-radius: 5px;
  float: left;
}

.formatoTexto{
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.capaPrecio{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;  
}

.capaTitulo{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}